html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
}

body {
  background: #070A1B;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.title__section {
  font-family: 'SF-Pro-Display-Bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #F402A2;
  text-transform: uppercase;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.list {
  display: flex;
}

.list__item+.list__item {
  margin-left: 30px;
}

.list__link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background .3s;
}

.list__link:hover {
  background-color: #C1A1D2;
}

.header__content {
  background-image: url(../images/header-backg.png);
  min-height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header__content::before {
  content: "";
  background-image: url(../images/mers.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -25px;
}

.title {
  font-family: 'SF-Pro-Display-Bold';
  font-size: 72px;
  line-height: 120%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}

.title-descr {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  margin-bottom: 50px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.concept {
  padding-top: 150px;
  margin-bottom: 150px;
}

.concept__inner {
  max-width: 900px;
  margin-left: auto;
}

.concept__text {
  margin: 25px 0;
  font-family: Roboto Condensed;
  font-size: 24px;
  line-height: 120%;
}

.premier {
  margin-bottom: 153px;
}

.premier__content {
  display: flex;
  justify-content: space-between;
}

.premier__left {
  max-width: 570px;
}

.premier__left-text {
  padding: 25px 0;
}

.premier__left-link {
  display: inline-block;
  width: 100%;
  height: 50px;
  border: 1px solid #F402A2;
  margin-top: 25px;
  padding: 14px 260px;
}

.premier__left-link:hover {
  border: 1px solid #53A1CB;
  transition: all .1s;
}

.premier__right {
  width: 570px;
}

.premier__right-img {
  width: 100%;
  max-height: 610px;
}

.premier__right-text {
  margin-top: 21px;
}